# Port And Server Config
SERVER_PORT=3000
BASE_URL=http://localhost:3000
NODE_ENV=development

# Databases
DB_URL=mongodb://localhost:27017/strategist-dev

# Email Setup
EMAIL_HOST=smtp.ethereal.email
EMAIL_USER=nqpj5ib67e6g25jo@ethereal.email
EMAIL_PASSWORD=1DNPEJG9XMMPhgCxqb
EMAIL_PORT=587
EMAIL_SECURE=false

# Json Web Token
ACCESS_TOKEN_PUBLIC="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCc9usDE5u/8iXjCPY9wSk88+wIfayxQVZWzPzOnQRWB7gdip+XxsO0vGxTOzVcqRV0mTq3xQZy/uaDJvqiaeT0IXO2ieXaEDpIYJ4SBaTi0OWgkPX8DvG11yoSkU82EGZCwNCXC/XR5g4X6x18ycit8i2wfrwksyIRudJY0bFX/wIDAQAB"
ACCESS_TOKEN_PRIVATE="MIICXAIBAAKBgQCc9usDE5u/8iXjCPY9wSk88+wIfayxQVZWzPzOnQRWB7gdip+XxsO0vGxTOzVcqRV0mTq3xQZy/uaDJvqiaeT0IXO2ieXaEDpIYJ4SBaTi0OWgkPX8DvG11yoSkU82EGZCwNCXC/XR5g4X6x18ycit8i2wfrwksyIRudJY0bFX/wIDAQABAoGAP1gmX4d6Q2wlfgoP1bwuODr39jVBjAciIMV5AKi9JzrWQpW+8jF0qWuhC7XJQyu5TOTJnYAVqjLUM/l3DDRQANGlfaL1s38D1g/Rpm0ruZyNWfV8HKgqtCLS8zcJ/fyXfyrjo0Lfds2UWvXVQhXDe43ZvB65kNEv0GUnUepWugECQQDtRxz+Przr1BjjM1b5J/K97i1zCL2XFoal+/1/XuO8c5A9HGlx36j8OKLyUTqwV7l0NCAqU+bHI6YLnyzeKCLvAkEAqVmE3bOYhyKc8pQs47yGEByOMRJkXrIt+iHxqb0C0N//xX8TXakxThTe9Ysi3SSXZwC/BL+/caP2Fgr98Frb8QJBAOQ+nfMr4otwESiswCMYfHabYHjhlY57CrcsOWOGoccr2zoN1JjHr0RALu6tmKj9GdZgNfjBkKNK9XUEfyKMtV0CQHMk+sIDKuI3Fp+ZQCxYMo8h20xiRPxeCgTYr4fJi/CZXT7beD9mmq+MYUxynfHev1K5nyeLeI+7+8ZhEugp3wECQBnOfHqIDUr9ffybPneImxw+Equ4UgeOYTr8nA8UF0GsVqGuYDUHw4ie08+fCM9kppF5JWxbRHse2qNatHSC/hw="
REFRESH_TOKEN_PUBLIC="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCc9usDE5u/8iXjCPY9wSk88+wIfayxQVZWzPzOnQRWB7gdip+XxsO0vGxTOzVcqRV0mTq3xQZy/uaDJvqiaeT0IXO2ieXaEDpIYJ4SBaTi0OWgkPX8DvG11yoSkU82EGZCwNCXC/XR5g4X6x18ycit8i2wfrwksyIRudJY0bFX/wIDAQAB"
REFRESH_TOKEN_PRIVATE="MIICXAIBAAKBgQCc9usDE5u/8iXjCPY9wSk88+wIfayxQVZWzPzOnQRWB7gdip+XxsO0vGxTOzVcqRV0mTq3xQZy/uaDJvqiaeT0IXO2ieXaEDpIYJ4SBaTi0OWgkPX8DvG11yoSkU82EGZCwNCXC/XR5g4X6x18ycit8i2wfrwksyIRudJY0bFX/wIDAQABAoGAP1gmX4d6Q2wlfgoP1bwuODr39jVBjAciIMV5AKi9JzrWQpW+8jF0qWuhC7XJQyu5TOTJnYAVqjLUM/l3DDRQANGlfaL1s38D1g/Rpm0ruZyNWfV8HKgqtCLS8zcJ/fyXfyrjo0Lfds2UWvXVQhXDe43ZvB65kNEv0GUnUepWugECQQDtRxz+Przr1BjjM1b5J/K97i1zCL2XFoal+/1/XuO8c5A9HGlx36j8OKLyUTqwV7l0NCAqU+bHI6YLnyzeKCLvAkEAqVmE3bOYhyKc8pQs47yGEByOMRJkXrIt+iHxqb0C0N//xX8TXakxThTe9Ysi3SSXZwC/BL+/caP2Fgr98Frb8QJBAOQ+nfMr4otwESiswCMYfHabYHjhlY57CrcsOWOGoccr2zoN1JjHr0RALu6tmKj9GdZgNfjBkKNK9XUEfyKMtV0CQHMk+sIDKuI3Fp+ZQCxYMo8h20xiRPxeCgTYr4fJi/CZXT7beD9mmq+MYUxynfHev1K5nyeLeI+7+8ZhEugp3wECQBnOfHqIDUr9ffybPneImxw+Equ4UgeOYTr8nA8UF0GsVqGuYDUHw4ie08+fCM9kppF5JWxbRHse2qNatHSC/hw="